.container {
  width: 1300px;
  padding: 24px;
  margin: 0 auto;
  min-width: 980px;
}

#content {
  display: grid;
  grid-template-columns: 328px auto;
  grid-gap: 24px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1300px){
  .container {
    width: 100%;
  }

  #content {
    grid-template-columns: 20% 75%;
  }
}
